body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff0000, #000000); /* Gradiente de vermelho para preto */
    color: #ffffff;
}

#countdown {
    background: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#timer {
    font-size: 3rem;
    letter-spacing: 3px;
}

.timer-unit {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: inline;
}

#date-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 0, 0, 0.7); /* Fundo vermelho com opacidade */
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

#start-button {
    background: rgba(255, 0, 0, 0.7); /* Fundo vermelho com opacidade */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    font-size: 1.2rem;
}

#start-button:hover {
    background: rgba(255, 0, 0, 0.9); /* Fundo vermelho mais opaco ao passar o mouse */
}